/*Cores de navegação*/
.nav-link.active.home-color {
  background-color: transparent;
  color: white;
}

.nav-link.active.azul-color {
  background-color: #2a4f77;
  color: white;
}
.nav-link.active.amarelo-color {
  background-color: #52511a;
  color: white;
}

.nav-link.active.verde-color {
    background-color: #224018;
    color: white;
}

.nav-link.active.rosa-color {
  background-color: #712d59;
  color: white;
}

/*Barra de navegação*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*Elemento de cada página*/

.container-imagens {
    min-height: 1000px; 
    position: relative; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camada-imagem {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#element-1 {
    z-index: 1;
}

#element-2 {
    z-index: 2;
}

#element-3 {
    z-index: 3;
}

#element-4 {
  z-index: 4;
}

#element-5 {
  z-index: 5;
}

#element-6 {
  z-index: 6;
}

#element-7 {
  z-index: 7;
}


